<template>
    <div class="card">
        <div class="card-header">Articles</div>
        <div class="card-body">
            <input type="search" value="" placeholder="search" v-model="search">
            <select v-model="categories_id">
                <option v-for="category in categories" :value="category.id">{{category.name}}</option>
            </select>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">title</th>
                    <th scope="col">slug</th>
                    <th scope="col">media</th>
                    <th scope="col">content</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="articly in articlies">
                    <td>{{articly.title}}</td>
                    <td>{{articly.slug}}</td>
                    <td>{{articly.media}}</td>
                    <td>{{articly.content}}</td>
                </tr>
                </tbody>
            </table>
            <div>
                <div class="col-xs-4">
<!--                    <input type="button" value="next" @click="nextPage">-->
                    <input type="button" value="save" @click="sortArticlies">
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    import axios from "axios";
    export default {
        data() {
            return {
                sorting: 'desc',
                categories_id: '1',
                search: '',
                page: 1,
                articlies: [],
                categories: []
            }
        },
        methods: {
            nextPage() {
                this.page ++
                this.sortArticlies()
            },
            async sortArticlies() {
                let articlies = await axios.post('/api/category/'+this.categories_id, {
                    page: this.page,
                    sorting: this.sorting,
                    search: this.search
                });
                this.articlies = articlies.data
                console.log(this.articlies)
            },
            async getCategories() {
                let categories =  await axios.post('/api/categories/');
                this.categories = categories.data
            },
        },
        mounted() {
            this.getCategories();
            this.sortArticlies();
        }
    }
</script>
